body {
    font-family: 'Lato', sans-serif;
    color: grey;
}



header.first-header {
color: white;
height: 100vh;
background-position: center;
position: relative;
background-image: url(../images/landing-page.png);
}

div.center-page-header {
    
    font-weight: 100;
    
}

div.main-title {
    position: absolute;
    left: 10%;
    top: 35%;
    font-size: 120px;
    transform: rotate(46deg);
}

div.header-subsection {
    font-size: 60px;
    position: absolute;
    left: 52%;
    bottom: 40%;
}


div.scroll-text {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 47.5%;
    font-size: 20px;
} 

header.about-me-header {
    text-align: center;
}